<div
  class="score-tracking-fullscreen overlay"
  [ngClass]="{
    vertical: orientation === OrientationEnum.DEFAULT,
    horizontal: orientation === OrientationEnum.DIAGONAL,
    'commander-mode': isCommanderMode
  }"
>
  <ng-container *ngIf="orientation === OrientationEnum.DEFAULT">
    <app-quadrant-score
      *ngFor="let player of players; let i = index"
      [points]="
        isCommanderMode
          ? commanderDamage[trackingPlayerIndex!][i]
          : player.points
      "
      [icon]="player.icon"
      [backgroundColor]="player.color"
      [orientation]="getOrientation(i)"
      (increasePoints)="increasePoints(i)"
      (decreasePoints)="decreasePoints(i)"
      (openCommanderDamageTrackerEmit)="openCommanderDamageTracker(i)"
    ></app-quadrant-score>
  </ng-container>

  <button
    class="exit-button btn btn-secondary position-absolute top-50 start-50 translate-middle"
    (click)="showConfirmDialog = true"
  >
    <i class="fas fa-cog"></i>
  </button>

  <div *ngIf="showConfirmDialog" class="overlay-dialog">
    <div class="confirm-dialog">
      <h3>Are you sure?</h3>
      <button class="btn btn-warning" (click)="confirmExit(false)">
        Restart Game
      </button>
      <button class="btn btn-danger" (click)="confirmExit(true)">
        Exit and Reset
      </button>
      <button class="btn btn-secondary" (click)="showConfirmDialog = false">
        Cancel
      </button>
    </div>
  </div>
</div>
