<div class="card h-100">
  <div class="card-body text-center position-relative">
    <button
      *ngIf="showDelete"
      class="btn btn-danger btn-sm position-absolute top-0 right-0"
      (click)="deletePlayer()"
    >
      X
    </button>
    <h5 class="card-title">{{ title }}</h5>
    <div class="emoji">{{ image }}</div>
    <div class="mt-2">{{ role }}</div>
    <div
      *ngIf="roll !== null"
      class="badge-dice-roll"
      [class.badge-dice-roll-max]="isMaxRoll"
    >
      Rolled: {{ roll }}
    </div>
  </div>
</div>
