.emoji {
  font-size: 2rem;
  margin-top: 10px;
}

.badge-dice-roll {
  background-color: #007bff;
  color: #ffffff;
  font-size: 0.8rem;
  padding: 5px;
  border-radius: 5px;
}

.badge-dice-roll-max {
  background-color: #28a745; /* verde */
}

.card-title {
  margin-bottom: 15px;
}

.card-body {
  padding: 15px;
}

.position-absolute {
  position: absolute;
}

.top-0 {
  top: 10px;
}

.right-0 {
  right: 10px;
}

.bottom-0 {
  bottom: 10px;
}
