<div class="container mt-5">
  <h1 class="text-center mb-4">Commander Score Tracker</h1>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Menu</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/player-registration"
              >Player Registration</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/table-management"
              >Table Management</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/score-tracking">Score Tracking</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/match-history">Match History</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
