<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10 col-xl-8">
      <div class="card shadow-sm">
        <div class="card-body">
          <h3 class="card-title text-center">
            {{ showTables ? "Tables Configurationr" : "Register Player" }}
          </h3>
          <div *ngIf="!showTables">
            <form (ngSubmit)="registerPlayer()" class="d-flex">
              <div class="form-group flex-grow-1 mr-2">
                <label for="playerName">Player Name</label>
                <input
                  type="text"
                  id="playerName"
                  [(ngModel)]="playerName"
                  name="playerName"
                  class="form-control"
                  required
                  autocomplete="false"
                />
              </div>
              <button type="submit" class="btn btn-primary align-self-end">
                Register
              </button>
            </form>

            <!-- <div class="d-flex justify-content-center mt-3">
              <button (click)="getPlayerMock()" class="btn btn-danger">
                Mock Players
              </button>
            </div> -->
            <div *ngIf="playerCount">
              <h3 class="mt-4 text-center">Players List ({{ playerCount }})</h3>
              <div class="d-flex justify-content-center mt-3">
                <button
                  (click)="divideIntoTables()"
                  class="btn btn-secondary"
                  [disabled]="playerCount < 3"
                  style="
                    background-color: #4caf50;
                    border-color: #4caf50;
                    color: #ffffff;
                  "
                >
                  Divide into Tables
                </button>
              </div>

              <div class="row mt-3">
                <div
                  class="col-6 col-sm-6 col-md-4 col-lg-3 mb-3"
                  *ngFor="let player of players; let i = index"
                >
                  <div class="card h-100">
                    <div class="card-body text-center position-relative">
                      <button
                        class="btn btn-danger btn-sm position-absolute top-0 right-0"
                        (click)="deletePlayer(i)"
                      >
                        X
                      </button>
                      <h5 class="card-title">{{ player.name }}</h5>
                      <div class="emoji">{{ player.image }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="showTables">
            <app-table-management></app-table-management>

            <div class="d-flex justify-content-center mt-3">
              <button (click)="backToRegistration()" class="btn btn-secondary">
                Back
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
