<div *ngIf="tableOptions.length > 0" class="mt-3">
  <h4>Choose Table Configuration</h4>
  <div *ngFor="let option of tableOptions" class="mt-2">
    <button (click)="setTableOption(option)" class="btn btn-info w-100">
      {{ option }}
    </button>
  </div>
</div>
<div *ngIf="tables.length > 0" class="mt-5">
  <h3>Tables</h3>
  <div *ngFor="let table of tables; let i = index">
    <div *ngIf="table.type === 'Emperor'; else standardTable">
      <div class="card">
        <div
          class="card-header d-flex justify-content-between align-items-center"
        >
          <h4 class="mb-0">Table {{ i + 1 }} (Emperor)</h4>
          <button
            class="btn btn-outline-secondary btn-sm"
            (click)="rollDiceForTable(table)"
          >
            Roll d20
          </button>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <div class="row">
              <div class="col-12">
                <h6 class="text-center">Team 1</h6>
                <div class="row">
                  <div class="col-12 col-sm-4">
                    <div class="card mb-3">
                      <div class="card-header text-center">Left Tower</div>
                      <div class="card-body text-center mb-3">
                        <app-card
                          *ngFor="
                            let player of table.teams?.leftTower?.slice(0, 1)
                          "
                          [title]="player.name"
                          [image]="player.image"
                          [roll]="player.roll || null"
                          [maxRoll]="table.maxRoll || null"
                          [showDelete]="false"
                        ></app-card>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-4">
                    <div class="card mb-3">
                      <div class="card-header text-center">Emperor</div>
                      <div class="card-body text-center mb-3">
                        <app-card
                          *ngFor="
                            let player of table.teams?.emperor?.slice(0, 1)
                          "
                          [title]="player.name"
                          [image]="player.image"
                          [roll]="player.roll || null"
                          [maxRoll]="table.maxRoll || null"
                          [showDelete]="false"
                        ></app-card>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-4">
                    <div class="card mb-3">
                      <div class="card-header text-center">Right Tower</div>
                      <div class="card-body text-center mb-3">
                        <app-card
                          *ngFor="
                            let player of table.teams?.rightTower?.slice(0, 1)
                          "
                          [title]="player.name"
                          [image]="player.image"
                          [roll]="player.roll || null"
                          [maxRoll]="table.maxRoll || null"
                          [showDelete]="false"
                        ></app-card>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <h6 class="text-center">Team 2</h6>
                <div class="row">
                  <div class="col-12 col-sm-4">
                    <div class="card mb-3">
                      <div class="card-header text-center">Left Tower</div>
                      <div class="card-body text-center mb-3">
                        <app-card
                          *ngFor="
                            let player of table.teams?.leftTower?.slice(1, 2)
                          "
                          [title]="player.name"
                          [image]="player.image"
                          [roll]="player.roll || null"
                          [maxRoll]="table.maxRoll || null"
                          [showDelete]="false"
                        ></app-card>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-4">
                    <div class="card mb-3">
                      <div class="card-header text-center">Emperor</div>
                      <div class="card-body text-center mb-3">
                        <app-card
                          *ngFor="
                            let player of table.teams?.emperor?.slice(1, 2)
                          "
                          [title]="player.name"
                          [image]="player.image"
                          [roll]="player.roll || null"
                          [maxRoll]="table.maxRoll || null"
                          [showDelete]="false"
                        ></app-card>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-4">
                    <div class="card mb-3">
                      <div class="card-header text-center">Right Tower</div>
                      <div class="card-body text-center mb-3">
                        <app-card
                          *ngFor="
                            let player of table.teams?.rightTower?.slice(1, 2)
                          "
                          [title]="player.name"
                          [image]="player.image"
                          [roll]="player.roll || null"
                          [maxRoll]="table.maxRoll || null"
                          [showDelete]="false"
                        ></app-card>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-template #standardTable>
      <div class="card">
        <div
          class="card-header d-flex justify-content-between align-items-center"
        >
          <h4 class="mb-0">Table {{ i + 1 }} ({{ table.type }})</h4>
          <button
            class="btn btn-outline-secondary btn-sm"
            (click)="rollDiceForTable(table)"
          >
            Roll d20
          </button>
        </div>
        <div class="row mt-3">
          <div
            class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3"
            *ngFor="let player of table.players; let j = index"
          >
            <app-card
              [title]="player.name"
              [image]="player.image"
              [roll]="player.roll || null"
              [maxRoll]="table.maxRoll || null"
              [showDelete]="false"
            ></app-card>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
